
<div class="jumbotron center">
	<h1>Welcome to my Amazeballs app!</h1>
	<p>Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %>  
		<%= link_to "Log in", "#", class: "btn btn-primary" %>
	</p>	
	<h2>Is John Zerzan Mad!?</h2>
	<p>C<%= link_to "Yes", "#", class: "btn btn-primary" %>  
		<%= link_to "YES!!!", "#", class: "btn btn-primary" %>
	</p>	
</div> 
 