<%= link_to "About", about_path %>
<%= link_to "Home", root_path %>

<h1>Welcome to my app!</h1>
<p>sign up <%= link_to 'here', '#' %> motherfuckers!</p>
<p>Often times I wonder what exactly it is I am doing with this shit anyways?</p>
<h2>What is the point of technology!?</h2>

