
<div class="jumbotron center">
	<h1>Welcome to my Amazeballs app!</h1>
	<p>Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %>  
		<%= link_to "Log in", "#", class: "btn btn-primary" %>
	</p>	
	<p>What exactly is going on here</p>
	<h2>John Zerzan is Mad!?</h2>
</div> 
 