
<div class="jumbotron">
	<h1>Welcome to my Amazeballs app!</h1>
	Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %> Motherfuckers! 
	<p>What exactly is going on here</p>
	<h2>John Zerzan is Mad!?</h2>
</div> 
